Practica1/build/**
Practica1/.idea/**
Practica2/build/**
Practica2/.idea/**
Practica3/build/**
Practica3/.idea/**
Practica4/build/**
Practica4/.idea/**
Practica6/build/**
Practica6/.idea/**
Practica #7/build/**
Practica #7/.idea/**
